@font-face {
  font-family: Roboto Condensed;
  font-display: swap;
  font-weight: bold;
  src: url(/fonts/RobotoCondensed-Bold.ttf) format("truetype");
}
@font-face {
  font-family: Roboto Condensed;
  font-display: swap;
  src: url(/fonts/RobotoCondensed-Regular.ttf) format("truetype");
}
@font-face {
  font-family: Roboto Slab;
  font-weight: 100 900;
  font-display: swap;
  src: url(/fonts/RobotoSlab-VariableFont_wght.ttf)
    format("truetype-variations");
}
